* {
    font-family: "Unbounded";
    font-weight: 500;
    z-index: 1;
}

body {
    background-color: #000;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.backgroundGradient {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    background: radial-gradient(#d37306, #000);
    filter: blur(100px);
    overflow: hidden;
    transition: all 2.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.bgCircle {
    border-radius: 100%;
    width: 20vh;
    height: 20vh;
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
}

.bgCircle4 {
    animation-timing-function: ease-in-out;
    animation-duration: 7s;
    animation-name:  bg-circle-anim-4;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #ffd00085;
    transition: all 2.8s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes bg-circle-anim-4 {
    from {
        left: 33.8%;
        top: 28.0%;
        width: 50vh;
        height: 50vh;
    }

    50% {
        left: 17.8%;
        top: 50.0%;
        width: 30vh;
        height: 30vh;

    }

    to {
        left: 35.6%;
        top: 32.8%;
        width: 43.8vh;
        height: 43.8vh;
    }
}

.bgCircle3 {
    animation-timing-function: ease-in-out;
    animation-duration: 4s;
    animation-name:  bg-circle-anim-3;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #e79908c7;
    transition: all 2.8s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes bg-circle-anim-3 {
    from {
        left: 40%;
        top: 39.1%;
        width: 30vh;
        height: 30vh;
    }

    50% {
        left: 13.7%;
        top: 13%;
        width: 48.4vh;
        height: 50.4vh;
    }

    to {
        left: 33.7%;
        top: 23%;
        width: 48.4vh;
        height: 50.4vh;
    }
}

.bgCircle2 {
    animation-timing-function: ease-in-out;
    animation-duration: 7s;
    animation-name:  bg-circle-anim-2;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #d8a80a;
    transition: all 2.8s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes bg-circle-anim-2 {
    from {
        left: 14.5%;
        top: -15.5%;
        width: 75vh;
        height: 75vh;
    }

    50% {
        left: 34.3%;
        top: -10.4%;
        width: 70vh;
        height: 70vh;
    }

    to {
        left: 24.3%;
        top: 10.4%;
        width: 76vh;
        height: 76vh;
    }
}

.bgCircle1 {
    animation-timing-function: ease-in-out;
    animation-duration: 7s;
    animation-name:  bg-circle-anim-1;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #ff510069;
    transition: all 2.8s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes bg-circle-anim-1 {
    from {
        left: 42.9%;
        top: 26.0%;
        width: 70vh;
        height: 70vh;
    }

    50% {
        left: 42.9%;
        top: 26.0%;
        width: 70vh;
        height: 70vh;
    }

    to {
        left: 20.4%;
        top: 8.0%;
        width: 90vh;
        height: 90vh;
    }
}

.bgCircle5 {
    animation-timing-function: ease-in-out;
    animation-duration: 7s;
    animation-name:  bg-circle-anim-5;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #ffffff00;
    border: 15px solid #ff9900;
    border-radius: 50%;
    transition: all 2.8s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes bg-circle-anim-5 {
    from {
        left: 25%;
        top: 25.0%;
        width: 200vh;
        height: 200vh;
    }

    50% {
        left: 32%;
        top: 46.0%;
        width: 150vh;
        height: 150vh;
    }

    to {
        left: 25%;
        top: 20.0%;
        width: 230vh;
        height: 230vh;
    }
}

/* сверху фон */

.error-backgroundGradient {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    background: radial-gradient(#c22c2c, #000);
    filter: blur(100px);
    overflow: hidden;
}

.error-bgCircle {
    border-radius: 100%;
    width: 20vh;
    height: 20vh;
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
}

.error-bgCircle4 {
    animation-timing-function: ease-in-out;
    animation-duration: 7s;
    animation-name:  bg-circle-anim-4;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #55000085;
}

@keyframes error-bg-circle-anim-4 {
    from {
        left: 33.8%;
        top: 28.0%;
        width: 50vh;
        height: 50vh;
    }

    50% {
        left: 17.8%;
        top: 50.0%;
        width: 30vh;
        height: 30vh;

    }

    to {
        left: 35.6%;
        top: 32.8%;
        width: 43.8vh;
        height: 43.8vh;
    }
}

.error-bgCircle3 {
    animation-timing-function: ease-in-out;
    animation-duration: 4s;
    animation-name:  bg-circle-anim-3;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #7c0808c7;
}

@keyframes error-bg-circle-anim-3 {
    from {
        left: 40%;
        top: 39.1%;
        width: 30vh;
        height: 30vh;
    }

    50% {
        left: 13.7%;
        top: 13%;
        width: 48.4vh;
        height: 50.4vh;
    }

    to {
        left: 33.7%;
        top: 23%;
        width: 48.4vh;
        height: 50.4vh;
    }
}

.error-bgCircle2 {
    animation-timing-function: ease-in-out;
    animation-duration: 7s;
    animation-name:  bg-circle-anim-2;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #ce4141;
}

@keyframes error-bg-circle-anim-2 {
    from {
        left: 14.5%;
        top: -15.5%;
        width: 75vh;
        height: 75vh;
    }

    50% {
        left: 34.3%;
        top: -10.4%;
        width: 70vh;
        height: 70vh;
    }

    to {
        left: 24.3%;
        top: 10.4%;
        width: 76vh;
        height: 76vh;
    }
}

.error-bgCircle1 {
    animation-timing-function: ease-in-out;
    animation-duration: 7s;
    animation-name:  bg-circle-anim-1;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #5a1b1b69;
}

@keyframes error-bg-circle-anim-1 {
    from {
        left: 42.9%;
        top: 26.0%;
        width: 70vh;
        height: 70vh;
    }

    50% {
        left: 42.9%;
        top: 26.0%;
        width: 70vh;
        height: 70vh;
    }

    to {
        left: 20.4%;
        top: 8.0%;
        width: 90vh;
        height: 90vh;
    }
}

.error-bgCircle5 {
    animation-timing-function: ease-in-out;
    animation-duration: 7s;
    animation-name:  bg-circle-anim-5;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #ffffff00;
    border: 15px solid #c02f2f;
    border-radius: 50%;
}

@keyframes error-bg-circle-anim-5 {
    from {
        left: 25%;
        top: 25.0%;
        width: 200vh;
        height: 200vh;
    }

    50% {
        left: 32%;
        top: 46.0%;
        width: 150vh;
        height: 150vh;
    }

    to {
        left: 25%;
        top: 20.0%;
        width: 230vh;
        height: 230vh;
    }
}

.error-top-title {
    margin: 0;
    margin-top: 15px;
    background-image: linear-gradient(to top, #fa7b7b , #ff0000);
    color: transparent;
    background-clip: text;
    font-size: 50px;
    text-align: center;
    text-shadow: 0 0 45px #771212;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    border: 0px;
    border-radius: 0px;
}

/* сверху фон ошибки и ошибочный тайтл */

.top-title {
    margin: 0;
    margin-top: 15px;
    background-image: linear-gradient(to top, #fa997b , #ffbb00);
    color: transparent;
    background-clip: text;
    font-size: 50px;
    text-align: center;
    text-shadow: 0 0 45px #ff7300;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    border: 0px;
    border-radius: 0px;
}

#preloader {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #070707;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 1s ease;
}

#preloader.hidden {
    opacity: 0;
    pointer-events: none;
}

.navbar {
    background-color: #3a382178;
    backdrop-filter: blur(5px);
    margin-top: 20px;
    padding: 15px;
    border: 5px solid #ddd;
    border-radius: 75px;
    box-shadow: 0 0 15px #ddd;
}

.navbar-button {
    background-color: #466e7a78;
	backdrop-filter: blur(5px);
    box-shadow: 0 0 15px #ddd;
    padding: 4px;
    border: 3px solid #ddd;
    border-radius: 75px;
    color: #ddd;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.navbar-button:hover {
    background-color: #ddd;
    color: #466e7a78;
    font-size: 28px;
}

.menu-button {
    background-color: #466e7a78;
	backdrop-filter: blur(5px);
    box-shadow: 0 0 15px #ddd;
    padding: 4px;
    width: 90%;
    border: 3px solid #ddd;
    border-radius: 75px;
    color: #ddd;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: block;
    margin: 0 auto;
    text-decoration: none;
}

.menu-button:hover {
    background-color: #ddd;
    color: #466e7a78;
}

.navbar-button-this {
    background-color: #946500;
	backdrop-filter: blur(5px);
    box-shadow: 0 0 15px #ffae00;
    padding: 4px;
    border: 3px solid #ffae00;
    border-radius: 75px;
    color: #ffae00;
    font-size: 25px;
    transition: all 0.2s ease-in-out;
}

.navbar-button-this:hover {
    background-color: #b97f00;
    color: #ffae00;
    font-size: 28px;
}

.content {
    background-color: #3a382178;
    backdrop-filter: blur(5px);
    margin-top: 40px;
    width: 700px;
    border: 5px solid #ddd;
    border-radius: 35px;
    box-shadow: 0 0 15px #ddd;
}

.devices-container {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    justify-content: flex-start;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 10px;
}

#toggleDevicesBtn {
    background-color: #946500;
	backdrop-filter: blur(5px);
    box-shadow: 0 0 45px #ff7300;
    padding: 4px;
    margin-bottom: 10px;
    border: 3px solid #ffae00;
    border-radius: 75px;
    color: #ffae00;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
#toggleDevicesBtn:hover {
    background-color: #cc8b00;
    color: #ffae00;
}

.playquadro {
    background-color: #8d8d8d;
	backdrop-filter: blur(5px);
    box-shadow: 0 0 45px #ffffff;
    padding: 4px;
    margin-bottom: 10px;
    border: 3px solid #ffffff;
    border-radius: 75px;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.playquadro:hover {
    background-color: #5a5a5a;
    color: #e2e2e2;
}

.devices-wrapper {
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(.4,0,.2,1), opacity 0.5s;
    max-height: 0;
    opacity: 0;
    margin-bottom: 0;
}

.device-card:hover {
    box-shadow: 0 4px 24px #0004;
}

.devices-wrapper.open {
    max-height: 2000px; /* Должно быть больше, чем высота контента */
    opacity: 1;
    margin-bottom: 32px;
}

.device-card {
    background: rgba(255,255,255,0.08);
    border: 1.5px solid #fff6;
    border-radius: 16px;
    width: calc(50% - 16px);
    min-width: 320px;
    box-sizing: border-box;
    padding: 24px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 0;
    box-shadow: 0 2px 14px #0002;
    transition: box-shadow 0.2s;
}

.device-card:hover {
    box-shadow: 0 4px 24px #0004;
}

.device-header {
    display: flex;
    align-items: center;
    gap: 18px;
}

.device-icon {
    width: 66px;
    border-radius: 14px;
    object-fit: contain;
}

.device-title {
    font-size: 20px;
    color: #ff9900;
    text-shadow: 0 0 15px #ff7300;
    text-align: left;
}

.device-specs {
    font-size: 11px;
    color: #cecece;
    margin-bottom: 0px;
    text-align: left;
}

.device-date {
    font-size: 10px;
    color: #b1b1b1;
    text-align: center;
}

@media (max-width: 800px) {
    .device-card {
        width: 100%;
        min-width: unset;
    }
    .devices-container {
        gap: 20px;
    }
}

.content-prikols {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px;
}

.card-link {
    text-decoration: none;
    color: inherit;
    width: calc(50% - 40px); /* Две карточки в ряд */
    margin: 20px;
    box-sizing: border-box;
}

.card {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease;
    height: 170px; /* Фиксированная высота карточки */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.card-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.card h2 {
    color: #ff9900;
    text-shadow: 0 0 15px #ff7300;
    font-size: 1.3em;
    margin: 0;
    margin-bottom: 5px;
}

.card p {
    font-size: 0.9em;
    color: #ccc;
    margin: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.last-updated {
    font-size: 0.8em;
    color: #888;
}

@media (max-width: 768px) {
    .card-link {
        width: calc(100% - 40px); /* Одна карточка в ряд на маленьких экранах */
    }
}

.presence-card {
    background-color: #2f3136;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.activity-header {
    display: flex; /* Используем flexbox для выравнивания */
    align-items: center; /* Выравниваем элементы по вертикали */
}

.icon-container {
    position: relative;
    display: inline-block;
    margin-right: 10px; /* Отступ между иконкой и текстом */
}

.activity-icon {
    width: 80px;
    height: 80px;
    vertical-align: top;
    border-radius: 10px; /* Закругляем углы */
}

.small-image {
    position: absolute;
    bottom: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #2f3136;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.presence-card:hover .small-image,
.icon-container:hover .small-image,
.icon-container:hover .activity-icon {
    opacity: 1;
}

.activity-info {
    flex: 1; /* Занимает оставшееся место */
}

.activity-info h2 {
    color: #fff;
    margin-top: 0;
    font-size: 1.2em;
}

.activity-info p {
    margin: 5px 0;
}

.content-block {
    background-color: #466e7a78;
    backdrop-filter: blur(5px);
    margin-top: 40px;
    width: 700px;
    border: 5px solid #ddd;
    border-radius: 35px;
    box-shadow: 0 0 15px #ddd;
}

.content-projects {
    margin-bottom: 1500px;
    background-color: #7a764678;
    backdrop-filter: blur(5px);
    margin-top: 40px;
    width: 700px;
    border: 5px solid #ddd;
    border-radius: 35px;
    box-shadow: 0 0 15px #ddd;
}

.content-title {
    margin: 0;
    margin-top: 10px;
    color: #ddd;
    font-size: 40px;
    text-align: center;
}

.content-text {
    margin: 0;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: #ddd;
    font-size: 18px;
    text-align: left;
}

.content-text-gallery {
    margin: 0;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: #ffd000;
    font-size: 12px;
    text-align: left;
    text-shadow: 0 0 15px #000000;
}

.content-text-title {
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    color: #ddd;
    font-size: 30px;
    text-align: left;
    text-shadow: 0 0 15px #ddd;
    text-decoration: none;
}

.content-text-social {
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    color: #ff9900;
    text-shadow: 0 0 15px #ff7300;
    font-size: 40px;
    text-align: center;
    display: inline-block;
}

.spoiler {
    background-color: #505050;
    color: transparent;
    user-select: none;
    transition: all 0.3s ease-in-out;
}

.spoiler:hover {
    background-color: inherit;
    color: inherit;
}

.player {
    background-color: #7a764678;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 60%;
    display: block;
    margin: 0 auto;
    border: 3px solid #ddd;
    border-radius: 35px;
    box-shadow: 0 0 15px #ddd;
}

.player-button {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50px;
    background-color: #466e7a78;
	backdrop-filter: blur(5px);
    box-shadow: 0 0 15px #ddd;
    padding: 4px;
    border: 3px solid #ddd;
    border-radius: 75px;
    color: #ddd;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.player-button:hover {
    background-color: #ddd;
    color: #466e7a78;
}

.player-text {
    margin: 0;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    color: #ddd;
    font-size: 20px;
    text-align: left;
}

.player-author {
    margin: 0 5px 20px 5px;
    color: #ddd;
    font-size: 20px;
    text-align: left;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.player-textTitle {
    margin: 0 5px 20px 5px;
    color: #ff9900;
    text-shadow: 0 0 15px #ff7300;
    font-size: 20px;
    text-align: left;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}


.fade-in {
    opacity: 1;
}

#player-div span {
    margin-top: 0;
    color: #ffd000;
    font-size: 40px;
    text-align: center;
    text-shadow: 0 0 15px #ddd;
    display: inline-block;
}

.player-input[type="range"] {
    background: transparent;
    transition: all 0.2s ease-in-out;
}

.player-input[type="range"]::-moz-range-track {
    -webkit-appearance: none;
    appearance: none;
    background: #466e7a78;
    padding: 4px;
    border: none;
    border-radius: 75px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.player-input[type="range"]::-moz-range-progress {
    background-color: rgb(97, 97, 97);
    height: 60%;
    border-radius: 75px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.player-input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.player-input[type="range"]::-moz-range-track {
    -webkit-appearance: none;
    appearance: none;
    background: #466e7a78;
    box-shadow: 0 0 15px #ddd;
    padding: 4px;
    border: 3px solid #ddd;
    border-radius: 75px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.player-input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    background: #466e7a78;
    padding: 4px;
    border: none;
    border-radius: 75px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.player-input[type="range"]::-webkit-slider-runnable-track {
    background-color: rgb(97, 97, 97);
    height: 60%;
    border-radius: 75px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.player-input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.player-input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    background: #466e7a78;
    box-shadow: 0 0 15px #ddd;
    padding: 4px;
    border: 3px solid #ddd;
    border-radius: 75px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#repeatTrack {
    color: black; /* или любой ваш исходный цвет */
    transition: color 0.3s ease;
}

/* Цвет кнопки при включённом повторе */
#repeatTrack.active {
    color: green;
}

.images-row {
    text-align: center;
  }
  
  .image-with-caption {
    display: inline-block;
    margin: 10px;
    vertical-align: top;
  }
  
  .image-with-caption img {
    width: 150px;
    height: auto;
  }
  
  .image-with-caption figcaption {
    text-align: center;
  }
  
#weather-container {
    background: transparent;
    backdrop-filter: blur(5px);
    justify-content: center;
    display: column;
    justify-content: center;
    margin-left: 18%;
    margin-bottom: 20px;
    max-width: 400px;
    padding: 20px;
    border: 5px solid #ddd;
    border-radius: 55px;
    box-shadow: 0 0 15px #ddd;
    text-align: center;
}

#weather-info {
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    color: #ddd;
    font-size: 20px;
    text-align: center;
}

#weather-icon {
    width: 250px;
    height: 250px;
    margin: 0 auto 10px;
    margin-bottom: 0;
    display: none;
}

#temp-div p {
    margin-top: 0;
    color: #ffd000;
    font-size: 40px;
    text-align: center;
    text-shadow: 0 0 15px #ddd;
    display: inline-block;
}

#hourly-forecast {
    margin-top: 30px;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    color: #ddd;
}

#hourly-item {
    flex: 0 0 auto;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    color: #ddd;
}

.hourly-item img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

#hourly-heading {
    color: #fff;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
  
.weather-input {
    background-color: #466e7a78;
	backdrop-filter: blur(5px);
    box-shadow: 0 0 15px #ddd;
    padding: 4px;
    border: 3px solid #ddd;
    border-radius: 75px;
    color: #ddd;
    font-size: 30px;
    /* cursor: pointer; */
    transition: all 0.2s ease-in-out;
}

.weather-input:hover {
    background-color: #ddd;
    color: #466e7a78;
}

@keyframes blinkYellow {
    0%, 100% { color: #ddd; }
    50% { color: #ffd000; }
  }

@keyframes blinkYellowShadow {
    0%, 100% { text-shadow: 0 0 15px #ddd; }
    50% { text-shadow: 0 0 15px #ffd000; }
  }
  .blinking {
    animation: blinkYellow 1s infinite, blinkYellowShadow 1s infinite;
  }

.code {
    border-radius: 5px;
    padding: 10px;
    background-color: #1e1e1e;
    color: #ddd;
    font-family: JetBrains Mono;
}

.gif88x31 {
    background-color: #7a764678;
    backdrop-filter: blur(5px);
    margin-top: 40px;
    width: fit-content;
    padding: 15px;
    border: 5px solid #ddd;
    border-radius: 55px;
    box-shadow: 0 0 15px #ddd;
}

#maintenance-backdrop {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.7); /* затемнение */
    z-index: 9998;
  }
  
  #maintenance-modal {
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    color: #222;
    border-radius: 8px;
    box-shadow: 0 4px 32px rgba(0,0,0,0.2);
    padding: 32px 40px;
    z-index: 9999;
    min-width: 320px;
    text-align: center;
  }