* {
    font-family: "JetBrains Mono";
    font-weight: 600;
    z-index: 1;
}

body {
    background-color: #000;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.backgroundGradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    background: radial-gradient(#a56d06, #000);
    filter: blur(100px);
    overflow: hidden;
}

.bgCircle {
    border-radius: 100%;
    width: 20vh;
    height: 20vh;
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
}

.bgCircle4 {
    animation-timing-function: ease-in-out;
    animation-duration: 7s;
    animation-name:  bg-circle-anim-4;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #e0af0d85;
}

@keyframes bg-circle-anim-4 {
    from {
        left: 33.8%;
        top: 28.0%;
        width: 50vh;
        height: 50vh;
    }

    50% {
        left: 17.8%;
        top: 50.0%;
        width: 30vh;
        height: 30vh;

    }

    to {
        left: 35.6%;
        top: 32.8%;
        width: 43.8vh;
        height: 43.8vh;
    }
}

.bgCircle3 {
    animation-timing-function: ease-in-out;
    animation-duration: 4s;
    animation-name:  bg-circle-anim-3;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #e7ac08c7;
}

@keyframes bg-circle-anim-3 {
    from {
        left: 40%;
        top: 39.1%;
        width: 30vh;
        height: 30vh;
    }

    50% {
        left: 13.7%;
        top: 13%;
        width: 48.4vh;
        height: 50.4vh;
    }

    to {
        left: 33.7%;
        top: 23%;
        width: 48.4vh;
        height: 50.4vh;
    }
}

.bgCircle2 {
    animation-timing-function: ease-in-out;
    animation-duration: 7s;
    animation-name:  bg-circle-anim-2;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #6e691b;
}

@keyframes bg-circle-anim-2 {
    from {
        left: 14.5%;
        top: -15.5%;
        width: 75vh;
        height: 75vh;
    }

    50% {
        left: 34.3%;
        top: -10.4%;
        width: 70vh;
        height: 70vh;
    }

    to {
        left: 24.3%;
        top: 10.4%;
        width: 76vh;
        height: 76vh;
    }
}

.bgCircle1 {
    animation-timing-function: ease-in-out;
    animation-duration: 7s;
    animation-name:  bg-circle-anim-1;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #ff1e0069;
}

@keyframes bg-circle-anim-1 {
    from {
        left: 42.9%;
        top: 26.0%;
        width: 70vh;
        height: 70vh;
    }

    50% {
        left: 42.9%;
        top: 26.0%;
        width: 70vh;
        height: 70vh;
    }

    to {
        left: 20.4%;
        top: 8.0%;
        width: 90vh;
        height: 90vh;
    }
}

.bgCircle5 {
    animation-timing-function: ease-in-out;
    animation-duration: 7s;
    animation-name:  bg-circle-anim-5;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #ffffff00;
    border: 15px solid #ff7300;
    border-radius: 50%;
}

@keyframes bg-circle-anim-5 {
    from {
        left: 25%;
        top: 25.0%;
        width: 200vh;
        height: 200vh;
    }

    50% {
        left: 32%;
        top: 46.0%;
        width: 150vh;
        height: 150vh;
    }

    to {
        left: 25%;
        top: 20.0%;
        width: 230vh;
        height: 230vh;
    }
}

/* сверху фон */

.top-title {
    margin: 0;
    margin-top: 15px;
    background-image: linear-gradient(to top, #b66f59 , #ffbd02);
    color: transparent;
    background-clip: text;
    font-size: 50px;
    text-align: center;
    text-shadow: 0 0 45px #000000;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    border: 0px;
    border-radius: 0px;
}

.navbar {
    background-color: #7a764678;
    backdrop-filter: blur(5px);
    margin-top: 20px;
    padding: 20px;
    border: 5px solid #ddd;
    border-radius: 75px;
    box-shadow: 0 0 15px #ddd;
}

.navbar-button {
    background-color: #466e7a78;
	backdrop-filter: blur(5px);
    box-shadow: 0 0 15px #ddd;
    padding: 4px;
    border: 3px solid #ddd;
    border-radius: 75px;
    color: #ddd;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.navbar-button:hover {
    background-color: #ddd;
    color: #466e7a78;
}

.navbar-button-this {
    background-color: #946500;
	backdrop-filter: blur(5px);
    box-shadow: 0 0 15px #ddd;
    padding: 4px;
    border: 3px solid #ffae00;
    border-radius: 75px;
    color: #ffae00;
    font-size: 30px;
}

.content {
    background-color: #7a764678;
    backdrop-filter: blur(5px);
    margin-top: 40px;
    width: 700px;
    border: 5px solid #ddd;
    border-radius: 55px;
    box-shadow: 0 0 15px #ddd;
}

.content-projects {
    margin-bottom: 1500px;
    background-color: #7a764678;
    backdrop-filter: blur(5px);
    margin-top: 40px;
    width: 700px;
    border: 5px solid #ddd;
    border-radius: 55px;
    box-shadow: 0 0 15px #ddd;
}

.content-title {
    margin: 0;
    margin-top: 10px;
    color: #ddd;
    font-size: 50px;
    text-align: center;
}

.content-text {
    margin: 0;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: #ddd;
    font-size: 20px;
    text-align: left;
}

.content-text-title {
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    color: #ddd;
    font-size: 30px;
    text-align: left;
    text-shadow: 0 0 15px #ddd;
    text-decoration: none;
}

.content-text-social {
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    color: #ffd000;
    font-size: 40px;
    text-align: center;
    text-shadow: 0 0 15px #ddd;
    display: inline-block;
}

.spoiler {
    background-color: #505050;
    color: transparent;
    user-select: none;
    transition: all 0.3s ease-in-out;
}

.spoiler:hover {
    background-color: inherit;
    color: inherit;
}

.player {
    background-color: #7a764678;
    margin-top: 40px;
    margin-left: 45px;
    margin-bottom: 20px;
    width: 600px;
    border: 3px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 0 15px #ddd;
}

.player-button {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #466e7a78;
	backdrop-filter: blur(5px);
    box-shadow: 0 0 15px #ddd;
    padding: 4px;
    border: 3px solid #ddd;
    border-radius: 75px;
    color: #ddd;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.gif88x31 {
    background-color: #7a764678;
    backdrop-filter: blur(5px);
    margin-top: 40px;
    width: fit-content;
    padding: 15px;
    border: 5px solid #ddd;
    border-radius: 55px;
    box-shadow: 0 0 15px #ddd;
}